@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Pretendard/Pretendard-Regular.woff");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Pretendard/Pretendard-SemiBold.woff");
}

@font-face {
  font-family: "Pretendard-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/Pretendard/Pretendard-Bold.woff");
}
